@charset "utf-8";
/* ==========================================================================
Global CSS - Visionary Site OnCall (visionary.com)
========================================================================== */

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	height: 100%;
	font-size: 62.5%;
}
body {
	height: 100%;
	font-size: 1.6rem;
	font-family: sans-serif;
	line-height: 1.5;
	color: #000;
	background-color: #fff;


	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); /* smooths type in all browsers */
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	border: 0;
	display: block;
	max-width: 100%;
	width: 100%;
	height: auto;
}

a { /* insert CSS here */ }

/* add high visibility focus indicators */
a:hover, a:focus { /* insert CSS here */ }


h1, h2, h3 {
	margin: 1rem 0;
	padding: 0;
	line-height: 1.05;
}

h1 { font-size: 3.2rem; }
h2 { font-size: 2.8rem; }
h3 { font-size: 2.4rem; }

/* add h4, h5, h6 */
h4 { font-size: 2.1rem; }
h5 { font-size: 1.8rem; }
h6 { font-size: 1.6rem; }

sup, sub {
	font-size: 70%;
	font-weight: bold;
}
sup { vertical-align: super; }
sub { vertical-align: sub; }

hr {
	width: 100%;
	height: 1px;
	border: 0;
	background-color: #BBB;
	float: left;
}

header, main, footer {
	float: left;
	width: 100%;
}

/* ==========================================================================
Clearfix
========================================================================== */


.cf:before, .cf:after {
	content: ' ';
	display: table;
}
.cf:after {
	clear: both;
}
.cf {
	*zoom: 1;
}



/* ==========================================================================
Sticky Footer -- If so desired
========================================================================== */
/*
.page {
	min-height: 100%; 
	position: relative;
}

main { padding-bottom: 60px; }


footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

@media all and (max-width:440px) {
	footer { position: relative; }
	main { padding-bottom: 0; }
}
*/

/* ==========================================================================
Page and Container
========================================================================== */
.page {
	width: 100%;
	margin:0 auto;
	padding: 0;
}

.container {
	margin: 0 auto;
	overflow: hidden;
	padding: 0 2%;
	max-width: 1000px; /*set desired width*/
}

/* ==========================================================================
Header (contains navigation, logo, etc)
========================================================================== */
header {
	position: relative;
	z-index: 30;
	overflow: visible;
	background-color: #BBB;
	margin-bottom: 1%;
}
header .logo { /* insert CSS here */ }

header .logo img {
	display: block;
	width: 100%;
	max-width: 100%;
	max-height: 100%;
}

header nav { /* insert CSS here */ }

/* ==========================================================================
Top Menu Navigation (drop-down menu)
========================================================================== */
.menu,
.submenu {
	cursor: pointer;
	text-align: right;
}

.menu { display: block; }

.submenu {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
}

.top_menu {
	display: none;
	width: 100%;
	list-style: none;
}

.top_menu li {
	position: relative;
	width: 100%;
}

.top_menu li a {
	width: 100%;
	padding: 1% 0;
	text-decoration: none;
}

.top_menu li a:first-child { padding-top: 0; }

.top_menu ul.sub {
	display: none;
	width: 100%;
	padding: 0;
	background-color: #999;
}

.top_menu ul.sub li a { padding: 0; }

/* ==========================================================================
Body / Contents
========================================================================== */
main { position: relative; }

main p { margin: 1rem 0; }

main ol, main ul {
	list-style-position: outside;
	padding-left: 3rem;
}

/* ==========================================================================
Videos
========================================================================== */
.video {
	width: 100%;
    position: relative;
    overflow: hidden;
    height: 0px;
    padding: 30px 0px 62.5%;
}

.video iframe,
.video object,
.video embed {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}


/* ==========================================================================
Arbitrary Styles for Wireframes -- ! Delete these when done !
========================================================================== */

.subbanner {
	padding: 15% 0;
}

.content {
	height: 300px;
	text-align: left;
}

.staff_info {
	padding-top: 0;
	padding-bottom: 0;
}

.video_list .active { font-weight: bold; }

.grid {
	background-color: #AAA;
	height: 5rem;
}

/* ==========================================================================
Footer (Lower navigation, copyright, etc)
========================================================================== */
footer {
	background-color: #BBB;
	font-size: 1.2rem;
	margin-top: 1%;
}

footer .address, footer .legal {
	display: block;
	width: 50%;
}

footer .vsi {
	float: right;
	clear: right;
	display: block;
	overflow: hidden;
	width: 120px;
	height: 30px;
	background: no-repeat url("https://static.visionary.com/siteoncall/siteoncall-footer.png");
	text-indent: 100%;
	white-space: nowrap;
}

/* ==========================================================================
Form Styles
========================================================================== */
.form_row {
	float: left;
	width: 100%;
}

fieldset,
.form_buttons {
	float: left;
	width: 100%;
	margin-bottom: 1.6rem;
}

fieldset.no_bottom,
.form_buttons.no_bottom { margin-bottom: 0; }

fieldset.fs1 { width: 25%; }
fieldset.fs2 { width: 50%; }
fieldset.fs3 { width: 75%; }

fieldset input,
fieldset select,
fieldset textarea {
	width: 100%;
	height: 4.2rem;
	margin: 0;
	padding: 1rem;
	border: 1px solid #BBB;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	font-size: 1.6rem;
	font-family: inherit;
	line-height: 3.4rem;
}

fieldset label {
	width: 100%;
	display: block;
	margin-bottom: .4rem;
}

label.req {
	font-weight: bold;
}

label.req:after {
	content: '*';
	color: #c00;
	margin-left: .25rem;
	font-family: sans-serif;
}

fieldset select { padding: 0 1rem; }

.form_buttons button,
.form_buttons input[type="submit"],
.form_buttons input[type="reset"],
fieldset input[type="text"],
fieldset input[type="password"],
fieldset input[type="email"],
fieldset input[type="number"],
fieldset input[type="tel"],
fieldset input[type="url"],
fieldset input[type="search"],
fieldset textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
fieldset textarea {
	height: 10rem;
	line-height: 1.4;
}

fieldset .form_note { font-size: 1.2rem; }

input.chk { display: none; }

.form_error {
	margin-bottom: 2rem;
	color: #c00;
}

.form_error ul { padding-left: 2rem; }



/* a better-looking button */
.form_buttons button,
.form_buttons input[type="submit"],
.form_buttons input[type="reset"] {
	margin: 0 1rem 1rem 0;
	padding: 1.4rem 2rem;
	background-color: #DDD;
	border: 1px solid #BBB;
	border-radius: 0.2rem;
	-moz-border-radius: 0.2rem;
	-webkit-border-radius: 0.2rem;
	font-size: 1.6rem;
	font-weight: normal;
	cursor: pointer;
}

/* add high visibility focus indicators */
.form_buttons button:hover,
.form_buttons button:focus,
.form_buttons button:active,
.form_buttons input[type="submit"]:hover,
.form_buttons input[type="submit"]:focus,
.form_buttons input[type="submit"]:active,
.form_buttons input[type="reset"]:hover,
.form_buttons input[type="reset"]:focus,
.form_buttons input[type="reset"]:active {
	background-color: #AAA;
	border-color: #888;
}

.form_buttons button:last-child,
.form_buttons input[type="submit"]:last-child,
.form_buttons input[type="reset"]:last-child {
	margin-right: 0;
}

/* ==========================================================================
Link Buttons (links that look like buttons)
========================================================================== */
.link_button {
	text-decoration: none;
	padding: 1.4rem 2rem;
	background-color: #DDD;
	border: 1px solid #BBB;
	border-radius: 0.2rem;
	-moz-border-radius: 0.2rem;
	-webkit-border-radius: 0.2rem;
}

.link_button:hover,
.link_button:focus,
.link_button:active {
	background-color: #AAA;
	border-color: #888;
}

/* ==========================================================================
Error Styles
========================================================================== */

.error {
	margin: 0 0 1.6rem 0;
	padding-top: 0;
	padding-left: 1.6rem;
	font-weight: bold;
	color: #c00;
}

/* ==========================================================================
 Category/Filter toggle viewer
 ========================================================================== */
.viewer_contain {
	margin-bottom: 1.6rem;
	padding-bottom: 1.6rem;
	border-bottom: 1px solid #BBB;
}

span.viewer,
div.viewer,
a.viewer {
	margin: 0 2rem 1rem 0;
	cursor: pointer;
	text-decoration: underline;
	
	display: inline-block;
	padding: .5rem 1rem;
	border: 1px solid #000;
}

span.viewer:hover,
span.viewer:focus,
div.viewer:hover,
div.viewer:focus,
a.viewer:hover,
a.viewer:focus,
span.viewer.active,
span.viewer:active,
div.viewer.active,
div.viewer:active,
a.viewer.active,
a.viewer:active {
	text-decoration: none;
}

/* ==========================================================================
Screen greater than 1000 pixels
========================================================================== */
@media all and (min-width:1000px) {
	/* placeholder for media query styling */
}

/* ==========================================================================
Screen greater than 801 pixels -- this may change based on breakpoint of nav menu
========================================================================== */
@media all and (min-width:801px) {
	/* placeholder for media query styling */
	.menu, .submenu {
		display: none;
	}
	.top_menu {
		display: block;
		position: relative;
		z-index: 200;
		margin: 0;
		padding: 0;
		text-align: right;
		list-style: none;
	}
	.top_menu li {
		position: relative;
		display: inline-block;
		width: auto;
	}
	.top_menu li a {
		display: inline-block;
		padding: 0 2rem;
		font-size: 1.6rem;
		text-decoration: none;
	}

	.top_menu li:last-child a { padding-right: 0; }

	/* nav .top_menu li.top_menu_active a */
	.top_menu li a:hover,
	.top_menu li a:focus { /* insert CSS here */ }

	/* Allow for submenu drop-downs on desktop */
	/* ! Remove comment if submenus are needed */
	/*
	header section,
	header .section,
	header .container { overflow: visible; }
	*/

	/* CSS show submenu */
	.top_menu li:hover a ~ ul.sub,
	.top_menu li:focus a ~ ul.sub,
	.top_menu li a:focus ~ ul.sub { left: 0; }


	.top_menu ul.sub {
		display: block;
		position: absolute;
		z-index: 500;
		top: 2.25rem;
		left: -99999px;
		width: auto;
		height: auto;
		padding: 0 1rem;
		list-style: none;
		text-align: left;
		background-color: #999;
	}

	.top_menu ul.sub li {
		width: 100%;
		height: auto;
	}

	.top_menu ul.sub li a {
		width: 100%;
		height: auto;
		white-space: nowrap;
		padding: 0;
		font-size: 1.6rem;
	}

	.top_menu ul.sub li a:hover,
	.top_menu ul.sub li a:focus {
		/* insert styling here */
	}
}