*[class*="half"],
*[class*="third"],
*[class*="quarter"],
*[class*="two-thirds"],
*[class*="three-fourths"] {
	margin: 0 1%;
	padding-top: 2%;
	padding-bottom: 2%;
}

*[class*="full"] {
	padding-top: 2%;
	padding-bottom: 2%;
}

*[class*="first"] { margin-left: 0; }
*[class*="last"] { margin-right: 0; }

*[class*="middle"] {
	margin-right: 1%;
	margin-left: 1%;
}

*[class*="full"] {
	float: left;
	width: 100%;
}

*[class*="half"] {
	float: left;
	width: 49%;
}

*[class*="third"] {
	float: left;
	width: 32%;
}

*[class*="two-thirds"] {
	float: left;
	width: 66%;
}

*[class*="quarter"] {
	float: left;
	width: 23.5%;
}

*[class*="three-fourths"] {
	float: left;
	width: 74.5%;
}

/* Some conditional styles for ease of use */

*[class*="block"] {
	background-color: rgba(0,0,0,0.5);
}

/* for IE 8 support */
/*
*[class*="block"] { background-color: #AAA; }
*[class*="block"] *[class*="block"] { background-color: #555; }
*/

*[class*="band"] { background-color: #888; }

section, *[class*="section"] {
	overflow: hidden;
	width: 100%;
	float: left;
	padding: 1% 0;
	position: relative;
}

*[class*="holder"] { padding: 2%; }

*[class*="image_holder"] { padding: 0; }

/* Clearing elements */
*[class*="only"] { clear: both; } /* Nothing else on either side */
*[class*="no_left"] { clear: right; } /* Nothing to the left of element */
*[class*="no_right"] { clear: left; } /* Nothing to the right of element */


/* ==========================================================================
Mobile view (less than 440 pixels)
========================================================================== */
@media all and (max-width:440px) {
	*[class*="half"],
	*[class*="third"],
	*[class*="quarter"],
	*[class*="two-thirds"],
	*[class*="three-fourths"] {
		width: 100%;
		margin: 0 0 2% 0;
	}
}